.container {
  max-height: 100%;
  position: relative;
  overflow: auto;
}

.main {
  max-width: 1024px;
  margin: auto;
}

.maincont {
  display: flex;
  flex-direction: row;
}

.horselist {
  display: flex;
  width: 45%;
}

.horselist ul {
  background: none;
}

.horsecard {
  display: flex;
  width: 55%;
  margin-top: 10px;
}

.about {
  padding: 80px;
  text-align: center;
}


span.racestatus:after {
  color: white;
  font-size: 10px;
  vertical-align: top;
  padding: 4px;
  border-radius: 6px;
  margin-left: 5px;
}

.prerace span.racestatus:after {
  background-color: orange;
  content: 'Pre-race';
}

.race span.racestatus:after {
  background-color: green;
  content: 'Race';
}

.postrace span.racestatus:after {
  background-color: lightblue;
  content: 'Post-race';
}

.race span.racename {
  font-weight: bold;
}

.prerace span.racename {
  opacity: 0.75;
}

div.prerace {
  border-bottom: solid 10px orange;
}

div.race {
  border-bottom: solid 10px green;
}

div.postrace {
  border-bottom: solid 10px lightblue;
}